#our_story {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  position: fixed;
}
.our_story_text_container {
  display: flex;
  gap: 1rem;
  font-size: 5vw;
}
.our {
  font-weight: 500;
}
.story {
  color: #e1ff01;
  font-weight: 600;
}
.our_story_paragraph {
  font-size: 1.2vw;
  letter-spacing: 0.15vw;
  line-height: 1.6vw;
  text-align: center;
  margin-top: -1rem;
  b {
    color: #e1ff01;
  }
}
